/* 초기화 스타일 CSS */

* { margin:0 ; padding: 0; box-sizing: border-box;}

   ul { list-style:none; padding: 0;}
   li { margin: 0;}

   body { color:rgb(29,29,31); -webkit-font-smoothing:antialiased;}

  @font-face { 
   font-family:'SF Pro KR';
   font-style: normal;
   font-weight: 200;
   src: url(../font/SFProKRDisplay_light.woff2) format('woff2');
   }

@font-face { 
   font-family:'SF Pro KR' ;
   font-style: normal;
   font-weight: 400;
   src: url(../font/SFProKRDisplay_regular.woff2) format('woff2');
   } 

@font-face { 
   font-family:'SF Pro KR' ;
   font-style: normal;
   font-weight: 600;
   src: url(../font/SFProKRDisplay_semibold.woff2) format('woff2');
   } 

@font-face { 
   font-family:'SF Pro KR' ;
   font-style: normal;
   font-weight: 800;
   src: url(../font/SFProKRDisplay_bold.woff2) format('woff2');
   } 

@font-face { 
   font-family:'SF Pro Display' ;
   font-style: normal;
   font-weight: 400;
   src: url(../font/sf-pro-display_regular.woff2) format('woff2');
   } 

@font-face { 
   font-family:'SF Pro Display' ;
   font-style: normal;
   font-weight: 600;
   src: url(../font/sf-pro-display_semibold.woff2) format('woff2');
   } 

@font-face { 
   font-family:'SF Pro text' ;
   font-style: normal;
   font-weight: 400;
   src: url(../font/sf-pro-text_regular.woff2) format('woff2');
   } 

@font-face { 
   font-family:'SF Pro text' ;
   font-style: normal;
   font-weight: 600;
   src: url(../font/sf-pro-text_semibold.woff2) format('woff2');
   } 

/* Typo 스타일 */

h1 {   }

h2 { 
   font-family:'SF Pro KR', 'SF Pro Display', serif;
   font-size:56px;
   font-weight:600;
   font-style: normal;
   line-height: 66px;
   -webkit-font-smoothing:antialiased;
}

h3 {  
   font-family: 'SF Pro KR', 'SF Pro Display', serif;
   font-size:28px;
   font-weight:400;
   font-style: normal;
   line-height: 31px;
   -webkit-font-smoothing:antialiased;
}

h4 { 

}
h5 {   }

h6 { }

p {          
   font-family: 'SF Pro KR', 'SF Pro text', serif;
   font-size:12px;
   font-weight:400;
   font-style: normal;
   line-height: 16.8px; 
   -webkit-font-smoothing:antialiased; 
}

.h4_large_40 { 
   font-family: 'SF Pro KR', 'SF Pro Display', serif;
   font-size:40px;
   font-weight:600;
   font-style:normal;
   line-height:44px;
   -webkit-font-smoothing:antialiased;
}

.h5_large_21 { 
   font-family: 'SF Pro KR', 'SF Pro Display', serif;
   font-size:21px;
   font-weight:400;
   font-style:normal;
   line-height:26px; 
   -webkit-font-smoothing:antialiased;
}

.p_large_17 {
   font-family: 'SF Pro KR', 'SF Pro text', serif;
   font-size:17px;
   font-weight:400;
   font-style: normal;
   line-height: 27px;  
   -webkit-font-smoothing:antialiased;
}

/* 링크 스타일 */

a:link {  text-decoration: none; color:#2997ff; }
a:hover {  text-decoration: underline; color:#2997ff; }
a:active {  text-decoration: none; color:#2997ff; }
a:visited {  text-decoration: none; color:#2997ff; }

.text_decoration_none {text-decoration:none;}

/* 정렬 스타일 */

.text_align_center {  text-align: center; }

/* 컬러 관련 스타일 */

.bg_color_white { background-color:white;  }
.bg_color_dark { background-color:rgb(19,19,19);}
.bg_color_gray_250 { background-color:rgb(250,250,250);} 

.color_white_245 { color:rgb(245,245,247);} 
.color_gray_134 {color: rgb(134,134,139);}  

/* 여백 관련 스타일 */

.margin_top_6 { margin-top:6px;}
.margin_top_7 { margin-top:7px;}
.margin_top_14 { margin-top:14px;}
.margin_bottom_12 { margin-top:14px;}


/* Header 부분 스타일 */

/* gnb 스타일 */

#gnb_m { display: none;}

#gnb { background-color: rgba(0, 0, 0, 0.8); position: fixed; 
   width: 100%; top:0; left:0;    } 

.nav_menu { list-style:none; display: flex;
justify-content: space-between;
width: 980px; height: 44px;  margin: 0 auto; padding:0; }

.nav_menu_logo { line-height: 44px; opacity: 0.8; }
.nav_menu_logo:hover { opacity: 1; }

.nav_menu li {  text-decoration:none;} 

.nav_menu a:link { text-decoration:none; }

.nav_menu_item { margin: 0 0 0 0px;
font-family: 'SF Pro KR', sans-serif;
font-size:14px;
font-weight:400;
font-style:normal;
line-height:44px;
color:rgb(245,245,247);
opacity: 0.8;
}
            
.nav_menu_item:hover { opacity: 1; text-decoration: none;}

/* .nav_menu a:last-child{
   display: none;
} */




/* 푸터 부분 스타일 */

footer { background-color: rgb(245,245,247);  }

.footer_wrap { width:980px; padding: 0 10px; margin: 0 auto; box-sizing: border-box;}
.footer_note { 
padding:17px 0 11px;
border-bottom: 1px solid rgb(210,210,215);
color:rgb(134,134,139);
}
.footer_menu { display:flex;
padding:20px 0;
}
.footer_menu_column { width: 196px;}
.footer_menu_group { 
list-style: none;
padding:0;
font-family: 'SF Pro KR', sans-serif;
font-size:12px;
font-weight:400;
font-style: normal;
line-height: 16px;
color:rgb(81,81,84);
}
.footer_menu_item { margin:0 0 6.8px; }

/* .footer_menu_item_text { color:green; } */

.footer_menu_group li { margin:0 0 6.8px; color:rgb(134,134,139); }
.footer_menu_group li:first-child { 
   font-weight: 600; 
   color:rgb(29,29,31);
   display: flex;
   justify-content: space-between;
   padding: 0 10px 0 0 ;
}

.footer_menu_group li:first-child span {
   display: none;
}

.footer_menu_group a {color:rgb(134,134,139);}
.footer_menu_group a:hover {color:rgb(81,81,84);}


.font_weight_600 { font-weight: 600;}
.color_gray_29 {color:rgb(29,29,31);}
.footer_contact { border-bottom:1px solid rgb(210,210,215);
padding: 0 0 7px; margin:0 0 8px;
color:rgb(134,134,139); }

.footer_copyright_wrap { display: flex; justify-content: space-between;}

.footer_copyright { margin:5px 0;
color:rgb(134,134,139); }

.footer_copyright a { color:rgb(134,134,139); padding: 0 12px 0 ; border-right:1px solid rgb(134,134,139); }
.footer_copyright a:hover { color:rgb(29,29,31);}
.footer_global {
   padding: 5px 0 0 0;
}

.footer_address { 
font-family: 'SF Pro KR', sans-serif;
font-size:11px;
font-weight:400;
font-style: normal;
line-height: 15px;
color:rgb(134,134,139);
padding: 0 0 20px;
}


/* 모바일 해상도 css */
/* @media screen and (max-width:767px) {
   .nav_menu {
      width: 200px; padding:0 20px; 
      box-sizing: border-box;}
   .nav_menu a {display: none;}
   .nav_menu a:first-child {display: block;}
   .nav_menu a:last-child {display: block;}
} */



/* css selector 연습 */

/* #gnb ul{border:1px solid red} */

/* #gnb li{border:1px solid red} */

/* #gnb .nav_menu_logo {border:1px solid red} */

/* .nav_menu a:nth-child(2) + a {border:1px solid red} */


/* 태블릿 해상도 */

@media screen and (min-width:768px) and
(max-width:1068px) {

h1 {   }

h2 { 
   font-size:48px;
   line-height: 66px;
}

h3 {  
   font-size:24px;
   font-weight:400;
}

h4 { 

}
h5 {   }

h6 { }

p {          
   font-size:12px;
   line-height: 16px; 
}

.h4_large_40 { 
   font-size:32px;
   line-height:36px;
}

.h5_large_21 { 
   font-size:19px;
   line-height:23px; 
}

.p_large_17 {
   font-family: 'SF Pro KR', 'SF Pro text', serif;
   font-size:17px;
   font-weight:400;
   font-style: normal;
   line-height: 27px;  
   -webkit-font-smoothing:antialiased;
}

.nav_menu { list-style:none; display: flex;
   justify-content: space-between;
   width: 100%; height: 44px;  margin: 0 auto; padding:0 20px ; 
   box-sizing: border-box;
}

.footer_wrap { 
   width:100%; 
   padding: 0 20px; 
   margin: 0 auto; 
   box-sizing: border-box;
}

.footer_copyright a { 
   color:rgb(134,134,139); 
   padding: 0 6px 0 ; 
   border-right:1px solid rgb(134,134,139); }

}


/* 모바일 해상도 css */
@media screen and (max-width:767px) {
   h1 {   }

   h2 { 
      font-family:'SF Pro KR', 'SF Pro Display', serif;
      font-size:48px;
      font-weight:600;
      font-style: normal;
      line-height: 60px;
      -webkit-font-smoothing:antialiased;
   }

   h3 {  
      font-family: 'SF Pro KR', 'SF Pro Display', serif;
      font-size:19px;
      font-weight:400;
      font-style: normal;
      line-height: 29px;
      -webkit-font-smoothing:antialiased;
   }

   h4 { 

   }
   h5 {   }

   h6 { }

   p {          
      font-family: 'SF Pro KR', 'SF Pro text', serif;
      font-size:12px;
      font-weight:400;
      font-style: normal;
      line-height: 16px; 
      -webkit-font-smoothing:antialiased; 
   }

   .h4_large_40 { 
      font-family: 'SF Pro KR', 'SF Pro Display', serif;
      font-size:36px;
      font-weight:600;
      font-style:normal;
      line-height:44px;
      -webkit-font-smoothing:antialiased;
   }

   .h5_large_21 { 
      font-family: 'SF Pro KR', 'SF Pro Display', serif;
      font-size:19px;
      font-weight:400;
      font-style:normal;
      line-height:26px; 
      -webkit-font-smoothing:antialiased;
   }

   .p_large_17 {
      font-family: 'SF Pro KR', 'SF Pro text', serif;
      font-size:15px;
      font-weight:400;
      font-style: normal;
      line-height: 27px;  
      -webkit-font-smoothing:antialiased;
   }

   header { width: 100%;}

   #gnb {display: none;}
   #gnb_m { 
      display: block;
      background-color: rgba(0, 0, 0, 0.8); position: fixed; 
      width: 100%; top:0; left:0; 
      box-sizing: border-box;
      z-index: 999; height: 44px;
      overflow: hidden;
      transition: all 0.4s;
   }

   .nav_menu_m { list-style:none; 
      width: 100%; position: relative;
      height: auto;  padding: 0;
      box-sizing: border-box;}

   .nav_menu_m_logo {
      line-height: 44px; 
      opacity: 0.8; 
      position: absolute;
      top: 0; left: calc(50% - 8px);
   }
   .nav_menu_m_logo:hover { opacity: 1; }

   .nav_menu_m li {  text-decoration:none;} 

   .nav_menu_m a:link { text-decoration:none; }

   .nav_menu_m_item { margin: 0 0 0 0px;
   font-family: 'SF Pro KR', sans-serif;
   font-size:14px;
   font-weight:400;
   font-style:normal;
   line-height:44px;
   color:rgb(245,245,247);
   opacity: 0.8;
   position: absolute;
      top: 0; right: 16px;
   }
               
   .nav_menu_m_item:hover { opacity: 1; text-decoration: none;}

   /* .nav_menu_m_item a:first-child{
      width: 20px; height: 44px;
      padding: 20px 0 0 0 ;
   } */

   .nav_menu_m_button{
      display: block;
      position: absolute;
      width: 30px; height: 44px;
      top: 0; left: 9px;
      cursor: pointer;
   }

   .nav_menu_m_button span:first-child{
      display: block;
      position: absolute;
      width: 16px; height: 1px;
      top: 16px; left: 7px;
      border-top: 1px solid white;
      transition: all 0.4s;
   }

   .nav_menu_m_button span:nth-child(2){
      display: block;
      position: absolute;
      width: 16px; height: 1px;
      top: 22px; left: 7px;
      border-top: 1px solid white;
   }

   .nav_menu_m_button span:last-child{
      display: block;
      position: absolute;
      width: 16px; height: 1px;
      top: 28px; left: 7px;
      border-top: 1px solid white;
      transition: all 0.4s;
   }

   /* .nav_menu_m_button:hover span:first-child{
      transform: rotate(45deg);
      top: 22px;
   } */

   /* .nav_menu_m_button:hover span:nth-child(2){
      display: none;
      visibility: hidden;
   } */

   /* .nav_menu_m_button:hover span:last-child{
      transform: rotate(-45deg);
      top: 22px;
   } */

   /* .nav_menu_m_item a span:first-child{
      margin: 10px 0 0 0;
      transform: rotate(45deg);
      transform-origin: 50% 50%;
   }
   .nav_menu_m_item a span:last-child{
      margin: -3.5px 0 0 1px;
      transform: rotate(-45deg);
      transform-origin: 50% 50%;
   } */

   .nav_menu_m_open_search{
      line-height: 44px; 
      opacity: 1; 
      text-align: center;
      margin: 60px 0 10px;
      box-sizing: border-box;
      border-bottom: 1px solid rgba(210,210,215,0.4);
      width: 100%;
      padding: 0 16px;
   }

   .nav_menu_m_open_search input{
      width: 100%;
      height: 36px;
      background: rgb(29,29,31);
      border: none;
      border-radius: 6px;
      padding: 0 10px;
      margin: 10px auto 10px ;
      box-sizing: border-box;
      color: rgb(210,210,215);
   }


   /* menu open 스타일 */

   .nav_menu_m_open { 
      list-style:none; 
      display: flex;
      flex-direction: column;
      /* justify-content: space-between; */
      width: 100%; height: auto;
      box-sizing: border-box;
      margin: 44px 0 0 0;
   }

   .nav_menu_m_open_logo { 
      line-height: 44px; 
      opacity: 0.8; 
      text-align: center;
      margin: 0 45px;
      box-sizing: border-box;
   }

   .nav_menu_m_open_search{
      line-height: 44px; 
      opacity: 1; 
      text-align: center;
      margin: 0 0 10px;
      box-sizing: border-box;
      border-bottom: 1px solid rgba(210,210,215,0.4);
      width: 100%;
      padding: 0 16px;
   }

   .nav_menu_m_open_search input{
      width: 100%;
      height: 36px;
      background: rgb(29,29,31);
      border: none;
      border-radius: 6px;
      padding: 0 10px;
      margin: 10px auto 10px ;
      box-sizing: border-box;
      color: rgb(210,210,215);
   }

   .nav_menu_m_open li {  
      text-decoration:none;
      margin: 0 45px;
      box-sizing: border-box;
      border-bottom: 1px solid rgba(210,210,215,0.4);
      font-size: 17px;
      line-height: 44px;
      color: rgb(245,245,247);
   } 

   .nav_menu_m_open a:link { text-decoration:none; }

   .nav_menu_m_open_item { margin: 0 0 0 0px;
   font-family: 'SF Pro KR', sans-serif;
   font-size:14px;
   font-weight:400;
   font-style:normal;
   line-height:44px;
   color:rgb(245,245,247);
   opacity: 0.8;
   }
               
   .nav_menu_m_open_item:hover { opacity: 1; text-decoration: none;}

   /* .nav_menu_m_item a:first-child{
      width: 20px; height: 44px;
      padding: 20px 0 0 0 ;
   } */

   .nav_menu_m_open_button{
      display: block;
      position: absolute;
      width: 30px; height: 44px;
      top: 0; left: 9px;
      cursor: pointer;
   }

   .nav_menu_m_open_button span:first-child{
      display: block;
      position: absolute;
      width: 16px; height: 1px;
      top: 16px; left: 7px;
      border-top: 1px solid white;
      transition: all 0.4s;
      transform: rotate(45deg);
      top: 22px;
   }

   .nav_menu_m_open_button span:last-child{
      display: block;
      position: absolute;
      width: 16px; height: 1px;
      top: 28px; left: 7px;
      border-top: 1px solid white;
      transition: all 0.4s;
      transform: rotate(-45deg);
      top: 22px;
   }


   /* 푸터 부분 스타일 */

   footer { background-color: rgb(245,245,247);  }

   .footer_wrap { width:100%; padding: 0 16px; margin: 0 auto;}
   .footer_note { 
   padding:17px 0 11px;
   border-bottom: 1px solid rgb(210,210,215);
   color:rgb(134,134,139);
   word-break: keep-all;
   }
   .footer_menu { display:flex;
   padding:20px 0;
   flex-wrap: wrap;
   }
   .footer_menu_column { width: 100%;}
   .footer_menu_group { 
   list-style: none;
   padding:0;
   font-family: 'SF Pro KR', sans-serif;
   font-size:12px;
   font-weight:400;
   font-style: normal;
   line-height: 16px;
   color:rgb(134,134,139);
   height: 14px;
   overflow: hidden;
   margin: 0 0 10px 0;
   padding: 0 0 10px 0;
   border-bottom: 1px solid rgba(134,134,139,0.3);
   }
   .footer_menu_item { margin:0 0 6.8px; }

   /* .footer_menu_item_text { color:green; } */

   .footer_menu_group li { margin:0 0 6.8px; color:rgb(134,134,139); }
   .footer_menu_group li:first-child { font-weight: 600; color:rgb(81,81,84);}

   .footer_menu_group li:first-child span { display: block; }

   .footer_menu_group a {color:rgb(134,134,139);}
   .footer_menu_group a:hover {color:rgb(81,81,84);}


   .font_weight_600 { font-weight: 600;}
   .color_gray_29 {color:rgb(29,29,31);}

   .footer_contact { 
      border-bottom:1px solid rgb(210,210,215);
      padding: 0 0 7px; margin:0 0 8px;
      color:rgb(134,134,139); 
      word-break: keep-all;
   }

   .footer_copyright_wrap { 
      display: flex; 
      justify-content: space-between;
      flex-direction: column-reverse;
   }

   .footer_copyright_wrap span{
      display: block;
      margin: 6px 0;
   }

   .footer_copyright { margin:5px 0;
   color:rgb(134,134,139); }

   .footer_copyright a { 
      color:rgb(134,134,139); 
      padding: 0 12px 0 0; 
      border-right:1px solid rgb(134,134,139); 
      margin: 0 12px 0 0 ;
   }
   
   .footer_copyright a:hover { color:rgb(29,29,31);}

   .footer_address { 
   font-family: 'SF Pro KR', sans-serif;
   font-size:11px;
   font-weight:400;
   font-style: normal;
   line-height: 15px;
   color:rgb(134,134,139);
   padding: 0 0 20px;
   }

   .footer_address span {
      display: block;
   }

}